.App{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 50%;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 1rem;
}

.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    gap: 3rem;
}